.conatiner {
  width: 100%;
  height: 100%;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  background-color: black;
  /* position: fixed; */
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 60%;
  height: 80px;
  gap: 10%;
}

.item {
  color: white;
  font-size: 17px;
  text-decoration: none;
  font-weight: 100;

}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 20px;
  color: white;
  user-select: none;
  font-weight: 600;

}

.Home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 90vh;
  font-weight: 400;
}

.ContainerhomeInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: max-content;
  gap: 23px;
}

.ContImage {
  width: 55%;
  height: 50%
}

@media (min-width: 900px) {
  .ContImage {
    width: 55%;
    height: 70%
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  border: 0.5px solid #ccc;
  height: 50px;
  text-decoration: none;

}

.title {
  font-size: 40px;
  font-weight: 600;
}

.subtitle {
  font-size: 20px;
  font-weight: 300;
}

.Button a {
  color: black;
  text-decoration: none;
}

.portifolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 200vh;
  font-weight: 400;
}

.TitlePortifeli {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.portifileTetx {
  width: 80%;
  height: 50%;
}

.portTitle {
  font-size: 90px;
  font-weight: 600;
}

.portsubtitle {
  font-size: 50px;
  font-weight: 300;
}

.ContCradProj {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 50%;
}

.ContAllcard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  width: 100%;
  height: 80%;
}

.CardProjwoman {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 31%;
  height: 80%;
  background-color: white;
  border-radius: 5px;
  border: 0.5px solid #ccc;
}



.cardImage {
  padding: 10px;

  width: 90%;
  height: auto;
}

.ProfImag {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cardText {
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 80%;
  height: 40%;
  gap: 10px;
}

.CardTitle {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
}

.CardDescri {
  text-align: justify;
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 780px) {
  .ContAllcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  .CardProjwoman {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 30%;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid #ccc;
  }

  .cardText {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 80%;
    height: 80%;
    gap: 10px;
  }
  .CardTitle {
    width: 90%;
    font-size: 18px;
    font-weight: 600;
  }
  .CardDescri {
    width: 90%;
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
  }
}