*{
  margin: 0;
  padding: 0;
  font-family: 'inter';
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'inter';
  src: url("./assets/font/static/Inter-Light.ttf");
  font-weight: 100;
}
@font-face {
  font-family: 'inter';
  src: url("./assets/font/static/Inter-SemiBold.ttf");
  font-weight: 200;
}
@font-face {
  font-family: 'inter';
  src: url("./assets/font/static/Inter-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: 'inter';
  src: url("./assets/font/static/Inter-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'inter';
  src: url("./assets/font/static/Inter-Black.ttf");
  font-weight: 500;
}
@font-face {
  font-family: 'inter';
  src: url("./assets/font/static/Inter-Bold.ttf");
  font-weight: 600;
}
